<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoadArchivo</servlet-name>
        <servlet-class>htmlTable.LoadArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientServiceInsert</servlet-name>
        <servlet-class>service.insert.entity.ClientService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServiceInsert</servlet-name>
        <url-pattern>/ClientServiceInsert</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ClientOrderServiceInsert</servlet-name>
        <servlet-class>service.insert.form.ClientOrderService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientOrderServiceInsert</servlet-name>
        <url-pattern>/ClientOrderServiceInsert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SelectClientService</servlet-name>
        <servlet-class>service.select.SelectClientService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SelectClientService</servlet-name>
        <url-pattern>/SelectClientService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServiceClientOrderChangeStatus</servlet-name>
        <servlet-class>service.update.form.ClientOrderChangeStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServiceClientOrderChangeStatus</servlet-name>
        <url-pattern>/ServiceClientOrderChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailClientOrderServiceDelete</servlet-name>
        <servlet-class>service.delete.form.ProductDetailClientOrderService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailClientOrderServiceDelete</servlet-name>
        <url-pattern>/ProductDetailClientOrderServiceDelete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailClientOrderServiceInsert</servlet-name>
        <servlet-class>service.insert.form.ProductDetailClientOrderService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailClientOrderServiceInsert</servlet-name>
        <url-pattern>/ProductDetailClientOrderServiceInsert</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClientOrderTotalService</servlet-name>
        <servlet-class>service.search.form.ClientOrderTotalService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientOrderTotalService</servlet-name>
        <url-pattern>/ClientOrderTotalService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductServiceInsert</servlet-name>
        <servlet-class>service.insert.entity.ProductService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServiceInsert</servlet-name>
        <url-pattern>/ProductServiceInsert</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeliveryNoteServiceInsert</servlet-name>
        <servlet-class>service.insert.form.DeliveryNoteService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeliveryNoteServiceInsert</servlet-name>
        <url-pattern>/DeliveryNoteServiceInsert</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
